In [52]:
import pandas as pd

In [53]:
my_dict = {'s1' : ['a', 'b', 'c', 'd'], 's2' : ['A', 'B', 'C', 'D']}
df = pd.DataFrame(my_dict)

In [54]:
df

  s1 s2
0  a  A
1  b  B
2  c  C
3  d  D

In [55]:
df.head()

  s1 s2
0  a  A
1  b  B
2  c  C
3  d  D

In [56]:
dict_str1 = {'s1' : ['a', 'b','c','d']}
df_str1 = pd.DataFrame(dict_str1)

In [57]:
df_str1

  s1
0  a
1  b
2  c
3  d

In [58]:
dict_str2 = {'s2' : ['a', 'b','c','d','e']}
df_str2 = pd.DataFrame(dict_str2)

In [59]:
df_str2

  s2
0  a
1  b
2  c
3  d
4  e

In [60]:
df_str2.loc[4]

s2    e
Name: 4, dtype: object

In [61]:
df_str2['foo'] = 'bar'
df_str2

  s2  foo
0  a  bar
1  b  bar
2  c  bar
3  d  bar
4  e  bar

In [62]:
df_str2.drop('foo', 1)

  s2
0  a
1  b
2  c
3  d
4  e

In [99]:
df[1:3]

  s1 s2
1  b  B
2  c  C

In [72]:
new_df = df_str1
new_df

  s1 s2
0  a  a
1  b  b
2  c  c
3  d  d

In [73]:
new_df['s2'] = df_str2['s2']
new_df

  s1 s2
0  a  a
1  b  b
2  c  c
3  d  d

In [92]:
new_df.loc[4, 's1'] = 'e'
new_df.loc[4, 's2'] = 'e'
new_df

  s1 s2
0  a  a
1  b  b
2  c  c
3  d  d
4  e  e

In [83]:
batch_size = 2

In [94]:
num_rows = len(new_df.axes[0])
num_rows/batch_size

2

In [103]:
list_df = []
for i in range(0, (int)(num_rows/batch_size) + 1):
    index = i * batch_size
    print index
    batch_df = new_df[index : index + batch_size]
    print batch_df
    list_df.append(batch_df)

0
  s1 s2
0  a  a
1  b  b
2
  s1 s2
2  c  c
3  d  d
4
  s1 s2
4  e  e

In [104]:
list_df

[  s1 s2
 0  a  a
 1  b  b,   s1 s2
 2  c  c
 3  d  d,   s1 s2
 4  e  e]

In [107]:
type(list_df[0])
len(list_df)

3

In [114]:
new_list = []
for dafr in list_df:
    new_list.append(dafr.values.flatten())
print new_list


for item in new_list:
    print item

[array(['a', 'a', 'b', 'b'], dtype=object), array(['c', 'c', 'd', 'd'], dtype=object), array(['e', 'e'], dtype=object)]
['a' 'a' 'b' 'b']
['c' 'c' 'd' 'd']
['e' 'e']

In [112]:
list(list_df[0].values.flatten())

['a', 'a', 'b', 'b']